{% extends "base.html" %}

{% block content %}
<h2 class="section-title">Wipe Logs</h2>
<p class="section-lead">History of wipes given to this user</p>
{% for log in Logs %}
<div class="card">
    <div class="card-header">
        <img alt="image" src="{{ config['AvatarServer'] }}{{ log['ModId']}}" class="rounded-circle mr-1" style="width:100%; max-width:30px; max-height:30px;">
        <h4>Wiped by {{ log["ModUsername"] }}</h4>
    </div>
    <div class="card-body">
        <b>Reason:</b> {{ log["Reason"] }}
    </div>
    <div class="card-footer">
        At {{ log["Time"] }}
    </div>
</div>
{% endfor %}
{% endblock %}